---
layout: default
title: Home
---

<img class="img-circle" src="/assets/ProfilePicture.jpg" width="200"
alt="Portrait" align="left" style="margin-right:50px">

<p>I am a third-year PhD student in Artificial Intelligence at the University of Amsterdam,
supervised by <a href="https://staff.fnwi.uva.nl/j.m.mooij" class="btn">Dr. Joris Mooij</a>. 
My research is focused on learning parsimoniuos causal representations of complex dynamical
systems.
</p>

{% if site.github_username %}
{% if site.google_scholar %}
{% if site.linkedin %}
  <a href="https://github.com/{{ site.github_username }}">
  <i class="fa fa-github" style="font-size:40px;color:gray;"></i> 
  </a> &nbsp;&nbsp;
  <a href="{{ site.google_scholar }}">
  <i class="fa fa-graduation-cap" style="font-size:40px;color:gray;"></i> 
  </a> &nbsp;&nbsp;
  <a href="{{ site.linkedin }}">
  <i class="fa fa-linkedin" style="font-size:40px;color:gray;"></i> 
  </a>
{% endif %}
{% endif %}
{% endif %}

<hr>




