<li>
    <div class="misc-summary">
        <div class="misc-image">
            <div class="misc-square">
                <img src="{{ misc.image | relative_url }}" alt="{{ misc.title }}" style="width:195px;height:195px;">
            </div>
        </div>
        <div class="misc-text">
            {% assign filename = misc.url | replace: '.html', '.md' %}
            <a name="{{ filename }}" id="black"><h3 class="misc-title">{{ misc.title | escape }}</h3></a>
            <div class="misc-author">{{ misc.author }}</div>
            {%- if misc.event -%}
            <div class="misc-event">
                {%- if misc.event-link -%} 
                <a href="{{ misc.event-link }}">
                    {{- misc.event -}}
                </a>
                {%- else -%}
                {{- misc.event -}}
                {%- endif -%}

                {%- if misc.location -%} ,&nbsp {{- misc.location -}} {%- endif -%}

                {%- if misc.data -%} ,&nbsp {{- misc.data -}}{%- endif -%}
            </div>
            {%- endif -%}
            <div class="misc-meta">
                {% for link in misc.links %}
                {% include links.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</li>
