<!DOCTYPE html>
<html lang="en">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <main class="container">
            <section class="about">
                <a id="black" href="/"><img class="img-circle" src="{{ "/assets/images/portfolio.jpg" | relative_url }}" alt="{{ site.portfolio.name }}"></a>
                <h2 id="title">
                    <a id="black" href="/">{{ site.portfolio.name }}</a>
                </h2>
                <p class="tagline">{{ site.portfolio.tagline }}</p>
                <ul class="social">
                    {%- if site.portfolio.social_links.googlescholar -%}
                    <a id="black" href="https://scholar.google.nl/citations?user={{ site.portfolio.social_links.googlescholar }}">
                        <li>
                            <i class="icon-graduation-cap"></i>
                        </li>
                    </a>
                    {%- endif -%}

                    {%- if site.portfolio.social_links.github -%}
                    <a id="black" href="https://github.com/{{ site.portfolio.social_links.github }}">
                        <li>
                            <i class="icon-github-circled"></i>
                        </li>
                    </a>
                    {%- endif -%}

                    {%- if site.portfolio.social_links.linkedIn -%}
                    <a id="black" href="https://www.linkedin.com/{{ site.portfolio.social_links.linkedIn }}">
                        <li>
                            <i class="icon-linkedin-squared"></i>
                        </li>
                    </a>
                    {%- endif -%}
                </ul>
                <p class="navigation">
                    <i class="icon-angle-right"></i><a id="gray" href="/#about">About</a><br>
                    <i class="icon-angle-right"></i><a id="gray" href="/#news">News</a><br>
                    <i class="icon-angle-right"></i><a id="gray" href="/#publications">Publications</a><br>
                    <i class="icon-angle-right"></i><a id="gray" href="/#cv">CV</a><br>
                    <i class="icon-angle-right"></i><a id="gray" href="/#contact">Contact</a>
                </p>
                <p>&copy; {{ "now" | date: "%Y" }}</p>
            </section>
            <section class="content">
                {{ content }}
            </section>
        </main>
    </body>
</html>
